* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  hyphens: auto;
}

.header,
.footer {
  height: 10vh;
  /*need remove*/
  display: flex;
  justify-content: right;
  background-color: rgb(33, 33, 33);
}

.menu {
  width: 5vh;
  height: 5vh;
  margin: 2vh;
  background-image: url("./images/menu-40.png");
  background-size: 5vh 5vh;
  opacity: 0.4;
  transition: .2s;
}

.menu:hover {
  opacity: .8;
}

.menu:active {
  opacity: 1;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
}

.prev,
.next {
  width: 3vh;
  height: 3vh;
  background-image: url("./images/button-32.png");
  background-size: 3vh 3vh;
  opacity: 0.4;
  transition: .2s;
}

.prev {
  margin-right: 2vh;
  transform: rotate(180deg);
}

.next {
  margin-left: 2vh;
}

.prev:hover,
.next:hover {
  opacity: .8;
}

.prev:active,
.next:active {
  opacity: 1;
}

.page {
  width: 41vw;
  height: 54.5vw;
  padding: 4.5vw;
  background-image: url("./images/background.png");
  background-size: 41vw 54.5vw;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #efead4;
  position: relative;
}

h1 {
  font-size: 2.8vw;
  letter-spacing: 0.5vw;
  padding: 8vw 0 2vw;
}

h4 {
  font-size: 1.45vw;
  line-height: 1.5;
}

h5 {
  font-size: 1.35vw;
}

h1,
h2,
h4,
h5 {
  text-align: center;
}

p {
  font-size: 1.25vw;
  text-indent: 1.5vw;
  word-spacing: 0.4vw;
  line-height: 0.9;
}

.numberPageUneven {
  position: absolute;
  right: 4.5vw;
  bottom: 3.5vw;
  text-indent: 0;
}

.numberPageEven {
  position: absolute;
  left: 4.5vw;
  bottom: 3.5vw;
  text-indent: 0;
}

.table {
  font-size: 1.25vw;
  word-spacing: 0.4vw;
  line-height: 0.9;
  padding-left: 1vw;
}

.td {
  padding: 0;
}

.page0 {
  display: none;
}

.page1 {
  background-image: url("./images/izh_planeta3.jpg");
}

.page3 {
  text-align: center;

  & p {
    font-size: 1.25vw;
    text-indent: 0;
    padding-top: 1vw;
    line-height: 1;
  }

  & h4 {
    font-size: 1.7vw;
  }

  & .city {
    padding-top: 20vw;
  }
}

.page4 {
  line-height: 1;
  padding-top: 9vw;

  & .italic {
    font-style: italic;
    font-size: 1.5vw;
    word-spacing: normal;
  }

  & .last {
    font-size: 1.2vw;
    padding-top: 1vw;
    font-weight: 900;
    word-spacing: normal;
  }
}

.page5 {
  padding-top: 9vw;

  & p {
    padding: 1vw 0 0;
  }

  & .line {
    width: 7vw;
    margin: 0 auto;
    padding: 13vw 0 0;
  }
}

.page6 {
  padding-top: 9vw;

  & .p {
    padding: 0.7vw 0 0;
  }

  & .list {
    padding: 0.4vw 0 0;
  }
}

.page7 {
  & .left {
    width: 17vw;
    text-indent: -1vw;
    vertical-align: top;
  }

  & .right {
    width: 14vw;
    text-align: right;
    vertical-align: bottom;
  }

  .rightPadding {
    padding-right: 8vw;
  }

  & .zeroTextIndent {
    text-indent: 0;
  }

  .center {
    text-align: center;
  }
}

.page8 {
  & .left {
    width: 17vw;
    padding-right: 1vw;
    text-indent: -1vw;
    vertical-align: top;
  }

  & .right {
    width: 14vw;
    padding-left: 1vw;
    vertical-align: bottom;
    text-indent: -1vw;
  }

  .center {
    text-align: center;
  }

  & .zeroTextIndent {
    text-indent: 0;
  }
}

.page9 {
  & .left {
    width: 17vw;
    padding-right: 1vw;
    text-indent: -1vw;
    vertical-align: top;
  }

  & .right {
    width: 14vw;
    padding-left: 1vw;
    vertical-align: bottom;
    text-indent: -1vw;
  }

  .center {
    text-align: center;
  }

  & .zeroTextIndent {
    text-indent: 0;
  }
}

.page10 {
  & .left {
    width: 18vw;
    padding-right: 1vw;
    text-indent: -1vw;
    vertical-align: top;
  }

  & .right {
    width: 13vw;
    padding-left: 1vw;
    vertical-align: bottom;
    text-indent: -1vw;
  }

  .center {
    text-align: center;
  }

  & .zeroTextIndent {
    text-indent: 0;
  }
}

.page11 {}

.page12 {}

.page13 {
  .picture2 {
    width: 29.2vw;
    height: 17.5vw;
    margin: 0 auto;
  }
}

.page14 {}

.page15 {}

.page16 {}

.page17 {}

.page18 {}

.page19 {}

.page20 {}

.page21 {}

.page22 {}

.page23 {}

.page24 {}

.page25 {}

.page26 {}

.page27 {}

.page28 {}

.page29 {}

.page30 {}

.page31 {}

.page32 {}

.page33 {}

.page34 {}

.page35 {}

.page36 {}

.page37 {}

.page38 {}

.page39 {}

.page40 {}

.page41 {}

.page42 {}

.page43 {}

.page44 {}

.page45 {}

.page46 {}

.page47 {}

.page48 {}

.page49 {}

.page50 {}

.page51 {}

.page52 {}

.page53 {}

.page54 {}

.page55 {}

.page56 {}

.page57 {}

.page58 {}

.page59 {}

.page60 {}

.page61 {}

.page62 {}

.page63 {}

.page64 {}

.page65 {}

.page66 {}

.page67 {}

.page68 {}

.page69 {}

.page70 {}

.page71 {}

.page72 {}

.page73 {}

.page74 {}

.page75 {}

.page76 {}

.page77 {}

.page78 {}

.page79 {}

.displayNone {
  display: none;
}

@media (max-width: 700px) {
  .page {
    width: 75vw;
    height: 100vw;
    background-size: 75vw 100vw;
  }
}