* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  hyphens: auto;
}

.header,
.footer {
  height: 5vh;
  /*need remove*/
  display: flex;
  justify-content: right;
  background-color: rgb(33, 33, 33);
}

.menu {
  width: 5vh;
  height: 5vh;
  margin: 2vh;
  background-image: url("./images/menu-40.png");
  background-size: 5vh 5vh;
  opacity: 0.4;
  transition: .2s;
}

.menu:hover {
  opacity: .8;
}

.menu:active {
  opacity: 1;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
}

.prev,
.next {
  width: 3vh;
  height: 3vh;
  background-image: url("./images/button-32.png");
  background-size: 3vh 3vh;
  opacity: 0.4;
  transition: .2s;
}

.prev {
  margin-right: 2vh;
  transform: rotate(180deg);
}

.next {
  margin-left: 2vh;
}

.prev:hover,
.next:hover {
  opacity: .8;
}

.prev:active,
.next:active {
  opacity: 1;
}

.page {
  width: 41vw;
  height: 54.5vw;
  padding: 4.5vw;
  background-image: url("./images/background.png");
  background-size: 41vw 54.5vw;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #efead4;
  position: relative;
  user-select: none
}

h1 {
  font-size: 2.8vw;
  letter-spacing: 0.5vw;
  padding: 8vw 0 2vw;
}

h4 {
  font-size: 1.45vw;
  line-height: 1;
  margin-top: 2vw;
  margin-bottom: 1.5vw;
}

h5 {
  font-size: 1.35vw;
  margin: 1vw 0;
}

h6 {
  font-size: 1.1vw;
  text-align: right;
  margin-top: 3vw;
  margin-bottom: 0.5vw;
}

.margin-top {
  margin-top: 0;
}

.margin-bottom-1vw {
  margin-bottom: 1vw;
}

.padding-top {
  padding-top: 0.5vw;
}

h1,
h2,
h4,
h5 {
  text-align: center;
}

p {
  font-size: 1.22vw;
  text-indent: 1.5vw;
  word-spacing: 0.4vw;
  line-height: 0.9;
}

.p-margin-bottom {
  margin-bottom: 0.5vw;
}

.numberPageUneven {
  position: absolute;
  right: 4.5vw;
  bottom: 3.5vw;
  text-indent: 0;
}

.numberPageEven {
  position: absolute;
  left: 4.5vw;
  bottom: 3.5vw;
  text-indent: 0;
}

.table {
  width: 100%;
  font-size: 1.22vw;
  border-collapse: collapse;
}

.td {
  text-align: center;
  border: 0.1vw solid transparent;
  padding: 0;
}

.border-full {
  border: 0.1vw solid black;
}

.border-right {
  border-right: 0.1vw solid black;
}

.border-right-left {
  border-right: 0.1vw solid black;
  border-left: 0.1vw solid black;
}

.border-top-right-bottom {
  border-top: 0.1vw solid black;
  border-right: 0.1vw solid black;
  border-bottom: 0.1vw solid black;
}

.border-top-bottom-left {
  border-top: 0.1vw solid black;
  border-bottom: 0.1vw solid black;
  border-left: 0.1vw solid black;
}

.border-top-right-bottom {
  border-top: 0.1vw solid black;
  border-right: 0.1vw solid black;
  border-bottom: 0.1vw solid black;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: scale(-1);
}

.left {
  width: 17vw;
  text-align: left;
  vertical-align: top;
  border: none;
  line-height: 0.95;
}

.right {
  width: 14vw;
  text-align: left;
  border: none;
  line-height: 0.95;
}

.textIndentMinus {
  text-indent: 1vw;
}

.text-align-left {
  padding-left: 0.5vw;
  text-align: left;
}

.center {
  text-align: center;
}

.page0 {
  display: none;
}

.page1 {
  background-image: url("./images/izh_planeta3.jpg");
}

.page3 {
  text-align: center;

  & p {
    font-size: 1.25vw;
    text-indent: 0;
    padding-top: 1vw;
    line-height: 1;
  }

  & h4 {
    font-size: 1.7vw;
  }

  & .city {
    padding-top: 20vw;
  }
}

.page4 {
  line-height: 1;
  padding-top: 9vw;

  & .italic {
    font-style: italic;
    font-size: 1.5vw;
    word-spacing: normal;
  }

  & .last {
    font-size: 1.2vw;
    padding-top: 1vw;
    font-weight: 900;
    word-spacing: normal;
  }
}

.page5 {
  padding-top: 7vw;

  & .line {
    width: 7vw;
    margin: 0 auto;
    padding: 14vw 0 0;
  }
}

.page6 {
  padding-top: 7vw;

  & .list {
    padding: 0.4vw 0 0;
  }
}

.page12 {
  display: flex;

  .picture1 {
    width: 21.5vw;
    height: 45.5vw;
  }

  .figure-caption-1 {
    writing-mode: vertical-rl;
    transform: scale(-1);
  }
}

.page13 {
  .picture2 {
    width: 29.2vw;
    height: 17.5vw;
    margin: 15px auto;
    background-image: url("./images/picture2.png");
    background-size: contain;
  }
}

.page14 {
  .picture3 {
    width: 29.2vw;
    height: 20.3vw;
    margin: 0 auto;
  }
}

.displayNone {
  display: none;
}

@media (max-width: 700px) {
  .page {
    width: 75vw;
    height: 100vw;
    background-size: 75vw 100vw;
  }
}